@import "~codemirror/lib/codemirror.css";


.CodeMirror {
    font-family: monospace;
    height: auto;
    direction: ltr;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
